<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/templates/default.xhtml">
	<ui:define name="content">
	  	<h:form id="personForm">
	  	<f:event type="postValidate" listener="#{personBean.validatePinDob}" />
	  	<div class="row-fluid">
	  		<div class="span6">
			<h:panelGrid columns="2">

				<h:outputText value="#{msg.personFirstNameLabel}" />
				<rich:inplaceInput id="firstName" defaultLabel="Wpisz swoje imię" value="#{personBean.person.firstName}" required="#{true}">
						<f:validator validatorId="firstNameValidator" />
						<f:ajax event="keyup" execute="@this" render="messages firstNameMessage beanState" />
				</rich:inplaceInput>
					
				<h:column></h:column>									
				<h:message id="firstNameMessage" style="color: red" for="firstName"/>
				
				<h:outputText value="#{msg.personPinLabel}" />
				<h:inputText id="pin" value="#{personBean.person.pin}"
					required="#{true}">
					<f:validator validatorId="pinValidator" />
					<f:ajax event="keyup" execute="@this" render="messages pinMessage beanState" />
				</h:inputText>
				
				<h:column></h:column>									
				<h:message id="pinMessage" style="color: red" for="pin"/>

				<h:outputText value="#{msg.personDobLabel}" />
				<rich:calendar value="#{personBean.person.dateOfBirth}"
					id="dob" datePattern="dd.MM.yyyy" showApplyButton="#{true}"
					cellWidth="24px" cellHeight="22px" style="width:200px">
					<f:ajax execute="@this" render="messages beanState" />
				</rich:calendar>
				
				

				<h:outputText value="#{msg.personZipCodeLabel}" />
				<h:inputText id="zipCode" value="#{personBean.person.zipCode}" />

				<h:outputText value="#{msg.personWeightLabel}" />
				 <rich:inputNumberSpinner id="weight" value="#{personBean.person.weight}">
					<f:validateDoubleRange minimum="20.5" maximum="150.5" />
					<f:ajax execute="@this" render="messages weightMessage beanState" />
				 </rich:inputNumberSpinner>
				
				<h:column></h:column>									
				<h:message id="weightMessage" style="color: red" for="weight"/>

				<h:column></h:column>	
				<h:column></h:column>	
				
				<h:outputText value="Data emerytury:" />
				<rich:calendar value="#{personBean.person.dateOfRetirement}"
					id="dateOfRetirementCalendar" datePattern="dd.MM.yyyy" showApplyButton="#{true}"
					cellWidth="24px" cellHeight="22px" style="width:200px">
					<f:ajax execute="@this" render="messages beanState" />
				</rich:calendar>
				
				
				<h:outputText value="Pesel:" />
				<h:inputText id="pesel" value="#{personBean.person.pesel}" required="#{true}">
					<f:validator validatorId="peselValidator" />
					<f:ajax event="keyup" execute="@this" render="messages peselMessage beanState" />
				</h:inputText>
				
				<h:column></h:column>									
				<h:message id="peselMessage" style="color: red" for="pesel"/>
				
				
				<h:outputText value="Wybierz Hobby:" />
				<rich:panel style="width:220px;">
		            <f:facet name="header">
		                <h:outputText value="Select with manual input"></h:outputText>
		            </f:facet>
		            <rich:select enableManualInput="true" defaultLabel="start typing for select" value="#{personBean.person.hobby}">
		                <f:selectItems value="#{hobbiesBean.hobbies}" />
		            </rich:select>
		        </rich:panel>
				
                
				<h:column></h:column>
				<h:commandButton value="#{msg.personFormOKButton}"
				action="#{personBean.addPerson}" />

			</h:panelGrid>

		</div>
		<div class="span6">
			<h:panelGrid id="beanState" styleClass="table table-hover table-bordered" columns="2">
				<h:outputText value="#{msg.personFirstNameLabel}" />
				<h:outputText id="nameOutput" value="#{personBean.person.firstName}" />

				<h:outputText value="#{msg.personPinLabel}" />
				<h:outputText id="pinOutput" value="#{personBean.person.pin}" />

				<h:outputText value="Data emerytury:" />
				<h:outputText id="dateOfRetirementOutput" value="#{personBean.person.dateOfRetirement}" />

				<h:outputText value="#{msg.personDobLabel}" />
				<h:outputText id="dobOutput"
					value="#{personBean.person.dateOfBirth}" />
				
				<h:outputText value="Pesel" />
				<h:outputText id="peselOutput" value="#{personBean.person.pesel}" />				
				
			</h:panelGrid>
			
			<h:panelGrid styleClass="table table-hover table-bordered">
				<h:messages id="messages" styleClass="messages unstyled" showDetail="#{true}"
					showSummary="#{false}" />
			</h:panelGrid>
		</div>
		</div>
		</h:form>
	</ui:define>
</ui:composition>