<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
	
	<h3>
		Dane osoby #{param['firstName']}	
	</h3>
	<hr/>
	<ui:param name="item" value="#{personBean.getPersonForName(param['firstName'])}" />
	<table class="table table-hover">
		<tr>
			<td>
				#{msg.personFirstNameLabel}
			</td>
			<td>
				#{item.firstName}
			</td>
		</tr>
		<tr>
			<td>
				#{msg.personPinLabel}
			</td>
			<td>
				#{item.pin}
			</td>
		</tr>
		<tr>
			<td>
				Pesel
			</td>
			<td>
				#{item.pesel}
			</td>
		</tr>
		<tr>
			<td>
				#{msg.personDobLabel}
			</td>
			<td>
				#{item.dateOfBirth}
			</td>
		</tr>
		<tr>
			<td>
				Data emerytury
			</td>
			<td>
				#{item.dateOfRetirement}
			</td>
		</tr>
		<tr>
			<td>
				Hobby
			</td>
			<td>
				#{item.hobby}
			</td>
		</tr>
    </table>

      

    </h:form>
      
	</ui:define>
	
</ui:composition>